/* Pallette: http://colorschemedesigner.com/csd-3.5/#0041T00u-w0w0 */

/*
 * Normalize Inputs
 */


input {
  border: 1px solid;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear .2s, box-shadow linear .2s;
  box-sizing: content-box;
  font-weight: normal;
}


input[type=text],
input[type=password] {
  display: inline-block;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border-color: rgb(204, 204, 204);
}

/*
 * General UI Stuff
 */

html.background {
  background-size: cover;
  }
  .bg_0 {
    background: url('../img/login_bg_0.jpg') no-repeat center center fixed;
  }
  .bg_1 {
    background: url('../img/login_bg_1.jpg') no-repeat center center fixed;
  }
  .bg_2 {
    background: url('../img/login_bg_2.jpg') no-repeat center center fixed;
  }
  .bg_3 {
    background: url('../img/login_bg_3.jpg') no-repeat center center fixed;
  }
  .bg_4 {
    background: url('../img/login_bg_4.jpg') no-repeat center center fixed;
  }
  .bg_5 {
    background: url('../img/login_bg_5.jpg') no-repeat center center fixed;
  }
  .bg_6 {
    background: url('../img/login_bg_6.jpg') no-repeat center center fixed;
  }
  .bg_7 {
    background: url('../img/login_bg_7.jpg') no-repeat center center fixed;
  }
  .bg_8 {
    background: url('../img/login_bg_8.jpg') no-repeat center center fixed;
  }
  .bg_9 {
    background: url('../img/login_bg_9.jpg') no-repeat center center fixed;
  }


body {
  font-family: Verdana, Helvetica, Arial;
}


a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}


/*
 * Stuff for specific features
 */


#login-page {
  display: flex;
  justify-content: space-around;

  height: 100vh;
  }
  #login-container {
    margin: auto;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 25px;
    padding: 35px 20px 10px 20px;
    width: 35%;
    min-width: 250px;
    color: #002DB2;
  }
  #login-container > form {
    padding-top: 25px;
  }
  #login-container input,
  #login-container button {
    padding: 10px 5px;
    margin: 10px 0;
    width: 80%;
    color: black;
  }
  #login-container button {
    text-transform: uppercase;

    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  }
  #login-container img {
    max-width: 100%;
    height: auto;
  }


.content {
  height: 100vh;
  }
  .gallery-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
  }
  .gallery-item {
    max-width: 200px;
    padding: 0 10px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.6);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    margin: 10px;
  }
  .thumbnail {
    max-width: 100%;
    height: auto;
  }
  .footer {
    text-align: center;
    width: 100%;
  }
